* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #5c4242;
    --color-secondary: #ffff;
    --color-tertiary: #247000;
}

head {
    overflow-x: hidden;
}

body {
    font-family: "Lato", sans-serif;
}

.navbar {
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: var(--color-primary);
}

.logo img {
    width: 80px;
    height: auto;
}

ul a {
    color: var(--color-secondary);
    text-decoration: none;
    padding: 1rem;

}

nav {
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    font-weight: bold;
}

.nav-links li a {
    font-size: 1.3rem;
}

.nav-links li a {
    position: relative;
}

.nav-links li a:hover::after {
    width: 90%;
}

.nav-links li a::after {
    background-color: #fff;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    position: absolute;
    height: 2px;
    transition: width 0.3s ease;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: var(--color-primary);
    padding: .3rem;
    margin-left: .5rem;

}

h2 {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    line-height: 1.8rem;
}

div img {
    width: 45px;
    height: auto;
    color: #fff;
    margin: .3rem;
}