* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #5c4242;
    --color-secondary: #ffff;
    --color-tertiary: #247000;
}

head {
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    display: flex;
    height: 5rem;
    background-color: var(--color-primary);
}

.logo img {
    width: 80px;
    height: auto;
}

ul a {
    color: var(--color-secondary);
    text-decoration: none;
    padding: 1rem;

}

nav {
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    font-weight: bold;
}

.nav-links li a {
    font-size: 1.1rem;
}

.nav-links li a {
    position: relative;
}

.nav-links li a:hover::after {
    width: 90%;
}

.nav-links li a::after {
    background-color: #fff;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    position: absolute;
    height: 2px;
    transition: width 0.3s ease;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: var(--color-primary);
    padding: .3rem;
    margin-left: .5rem;

}

.hero-section {
    width: 100%;
    margin-top: 0;
}

.hero-section img {
    justify-content: center;
    width: 95%;
    max-width: 1110px; 
    height: 32rem;
    object-fit: cover;
    margin-top: 2rem;
}

.cta-btn {
    top: 90%;
    right: 115px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3e3c3c;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.cta-btn:hover {
    background-color: #1fa123;
    color: #0c0303
}

.caption {
    margin: 1rem;
}

section {
    margin-bottom: 2rem;
    text-align: center;
}

h1 {
    margin: 15px;
    text-align: center;
}

.home {
   background-color: #fff; 
   color: #000;
   font-size: 2rem;
   font-weight: bold;
}

h2 {
    color: var(--color-secondary);
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--color-primary);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.directory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    justify-content: center;

}

.event {
    width: 23rem;
    height: 20rem;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.members {
    font-size: 25px;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    line-height: 1.8rem;
}

div img {
    width: 45px;
    height: auto;
    color: #fff;
    margin: .3rem;
}