:root {
        --color-primary: #5c4242;
        --color-secondary: #ffff;
        --color-tertiary: #9c6d6d;
}

section.container {
	display: flex !important;
	gap: 4em;
}

.form-heading {
	text-align: center;
	margin: 2rem;
}

form {
	width: 100% !important;
}

form label {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

form input,
form textarea {
	padding: 0.7rem;
	margin-top: 0.9em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

fieldset {
	margin-bottom: 2rem;
	padding: 1.5em;
	border: 2px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
}

fieldset legend,
form > label {
	font-weight: 600;
	padding: 0 1em;
	font-size: 1rem;
	color: #333;
}

fieldset label {
	display: block;
	margin-bottom: 1rem;
	font-size: 1rem;
	color: #555;
}

fieldset input[type="radio"] {
	margin-right: 0.5em;
}

fieldset input[type="radio"]:hover {
	cursor: pointer;
}

fieldset label:hover {
	color: #000;
}

form input[type="submit"] {
	padding: 1rem 1.5rem;
	margin-top: 1em;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: var(--primary-color);
}

form #timestamp {
    background-color: var(--color-primary);
}

/* Membership Cards */
#membershipCards {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: center;
	width: 100%;
}

#membershipCards .card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
	margin: 1rem;
	flex: 1 1 calc(25% - 2rem);
	text-align: center;
	transition: transform 0.3s, box-shadow 0.3s;
	opacity: 0;
	transform: translateY(20px);
}

.animate-card {
	animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#membershipCards .card:hover {
	transform: scale(1.05);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
	background-color: #f4fcf4;
}

.card h3 {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 1rem;
}

.more-info {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
    margin-top: 1rem;
}

.more-info:hover {
	background-color: var(--color-tertiary)
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	height: 10rem !important;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;
}

.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
}

.modal h2 {
	margin-top: 2rem;
	font-size: 1.5rem;
	color: #000;
    background-color: #fff;
}

.modal p {
	font-size: 1rem;
	color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
	main.container {
		padding: 0 1.2em;
	}

	section.container {
		display: flex;
		flex-direction: column;
	}

	#membershipCards .card {
		width: 100%;
	}

	form input[type="submit"] {
		width: 100%;
	}
}

@media (min-width: 769px) {
	form {
		width: 60%;
	}

	#membershipCards {
		float: right;
		width: 35%;
	}

	.modal-content {
		width: 50%;
	}

	.modal h2 {
		margin-top: 0rem;
	}
}