* {
    margin: 0;
    padding: 0;
}

.directory-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.bus-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 20rem;
    height: 25rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bus-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.business-name {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.business-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.colab {
    padding-top: 0;
    cursor: pointer;
}

.business-image {
    width: 5rem;
    height: auto;
    margin-top: 2rem;
    text-align: center;
}

.img-bus-card ul{
    list-style: none;
    line-height: 2rem;
}

.img-bus-card ul li{
    font-size: 1.2rem;
    margin: 6px;
}

.website-button {
    padding: 8px;
    background-color: var(--color-tertiary);
    border: 1px solid #3e3c3c;
    border-radius: 8px;
    font-weight: bold;
    color: var(--color-secondary);
    cursor: pointer;
}

.website-button:hover {
    background-color: #208d24;
    border-color: #031804;
}

.spotlight {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.spotlight h2 {
    margin-bottom: 15px;
    color: #f9f9f9;
}

.spotlight-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
}

.spotlight-card {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px); /* Adjust width for spacing */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .spotlight-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .spotlight-card {
        width: 100%;
    }
}

.spotlight-card img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.spotlight-card h3 {
    margin-bottom: 5px;
    color: #555;
}

.spotlight-card p {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 8px;
}

.spotlight-card a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #247027;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
}

.spotlight-card a:hover {
    background-color: #208d24;
}