@media (max-width: 760px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-primary);
        position: absolute;
        top: 108px; /* Adjust based on header height */
        left: 0;
        z-index: 10;
    }

    .nav-links.open {
        display: flex;
        padding-bottom: .6rem
    }

    .nav-links li {
        margin: 0;
        text-align: center;
    }

    .nav-links li a {
        color: #ffff;
    }

    .hamburger-button {
        display: block;
        background: none;
        color: #fff;
        border: none;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-links li {
        width: 100%;
        padding: 10px;
    }

    .cta-btn {
        right: 180px;
    }

    iframe {
        width: 20rem;
    }
}