/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
	--primary-color: #5e0b15;
	--secondary-color: #90323d;
	--tertiary-color: #ffffff;
	--aside-color: #e7d915;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--tertiary-color);
    line-height: 1.6;
}

.aside {
    color: var(--aside-color) !important;
}

header {
    text-align: center;
}

.header-name {
    background-color: var(--primary-color);
    padding: 400px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-name h1 {
    font-size: 1.8rem;
}

.header-name span {
    font-size: 1.8rem;
    font-weight: 700;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 2rem;
}

nav a {
    position: relative;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s;
    overflow: hidden;
    padding-bottom: 5px;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 90%;
}

/* Main Content Styles */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 80%;
    margin: 3rem auto;
    padding: 2rem;
}

.box {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: black;
}

.course-work {
    text-align: center;
    background-color: rgb(54, 79, 189);
    color: #fff
}

.box-1 {
    display: block;
}

.toloria-madagascar {
    display: flex;
    padding: 30px;
    gap: 20px;
}

/*.box-3-content h3 {
    font-size: 1.2rem;
    text-align: justify;
    flex: 3;
}*/

.toloria-madagascar {
    background-color: rgb(54, 79, 189);;
    text-align: center;
    color: #fff;
}

.madagascar-image {
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.web-content {
    background-color: rgb(54, 79, 189);
    color: #fff;
    padding: 5px;
    text-align: center;
}

.classes-1, .classes-2, .classes-3 {
    display: inline-block;
    background-color: black;
    padding: 1px 3rem;
    border: black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.course-outline {
    margin: 8px;
}

hr {
    border: 1px solid #ccc;
    width: 100%;
    margin: 10px auto;
}

.web-3-content {
    width: 100%;
    grid-column: span 4;
}

.classes-4, .classes-5, .classes-6, .classes-7, .classes-8, .classes-9 {
    background-color: rgb(121, 31, 31);
    padding: 2px 3rem;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.course-code {
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}